.notSelected {
    opacity: 0.3;
}
 
.selected {
    opacity: 1;
}

button {
    text-size-adjust: 32px;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.isHidden {
    display: none;
}

.isShown {
}

.tags {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.tag {
    
}